@media (max-width: 1280px) {
    $width-site-tablet: 860px;

    .center {
        padding-left: calc(50% - 430px);
        padding-right: calc(50% - 430px);
    }

    .title {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .header {
        &__nav {
            //display: flex;
            //align-items: center;
            gap: 1.5rem;
        }
    }

    .top {
        height: calc(443px + 5rem + 5rem);

        background-image: url('../img/group-table.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: top 8rem right;

        &__image {
            display: none;
        }
    }

    .top-content {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    // carousel
    .about-content {
        background-color: transparent;
        padding: 10px 0;
        flex-wrap: nowrap;
        align-items: stretch;
        align-content: stretch;
        justify-content: flex-start;
        gap: 1rem;
        max-width: 100%;
        margin: -10px auto 0 auto;
        overflow-y: visible;
        overflow-x: auto;
        overscroll-behavior-x: none;
        scroll-snap-type: x mandatory;
    }

    .about__item {
        flex: 0 0 584px;
        //height: 200px;
        scroll-snap-align: start;
        box-shadow: 0 4px 10px 0 $color-shadow;
    }

    .product-box {
        gap: 1rem;
    }

    // carousel
    .reviews-content {
        background-color: transparent;
        padding: 20px 0;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: flex-start;
        gap: 1rem;
        max-width: 100%;
        margin: 0 auto;
        overflow: auto;
        overscroll-behavior-x: none;
        scroll-snap-type: x mandatory;

        margin-top: -20px;
    }

    .review {
        flex: 0 0 379px;
        //height: 200px;
        scroll-snap-align: start;
    }

    .find-us-content {
        gap: 1rem;
        //height: 100%;
        //flex-direction: column-reverse;
    }
}

// (min-width: 648px) and 
@media (max-width: 909px) {
    $width-site-tablet: 600px;

    .center {
        padding-left: calc(50% - 300px);
        padding-right: calc(50% - 300px);
    }

    .header {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        // &__nav {
        //     display: none;
        // }

        &__button {
            font-size: 1rem;
            line-height: 20px;
            padding: 8px 1rem;

            margin-left: auto;
            //width: 169px;
        }
    }

    .top {
        background-image: url('../img/top-coffee.png');
        background-size: 70%;
        //background-position: top -200px right -20px;
        background-position: top right -50%; //-130px;
    }

    .top-content {
        padding-bottom: 2rem;
    }

    .product-box {
        justify-content: space-between;
    }
}