$color-text: #9A9A9A;
$color-title: #45403D;
$color-border: #A26539;
$color-input: #DEDEDE;
$color-background: #F6F5F4;
$color-text-background: #FFFFFF;
$color-shadow: #00000024;

$font-fam: "Montserrat Alternates", "sans-serif";

$fw-bold: 700;
$fw-semi-bold: 600;
$fw-medium: 500;
$fw-regular: 400;

$width-site: 1200px;
//$width-site-half: 600px;
$border-radius: 24px;
$header-height: 120px;