@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat Alternates", "sans-serif";
}

a {
  text-decoration-line: none;
}

.h1 {
  font-family: inherit;
  font-size: 3rem;
  font-weight: 700;
  line-height: 59px;
  color: #45403D;
}

.h2 {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 29px;
  color: #45403D;
}

.text {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #45403D;
}

.button {
  font-family: inherit;
  font-weight: 600;
  color: #A26539;
  text-align: center;
  border: 1px solid #A26539;
  border-radius: 24px;
  background-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.button:hover {
  background-color: #A26539;
  color: #FFFFFF;
}

.title {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-color: #FFFFFF;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
  padding-top: 33px;
  padding-bottom: 35px;
  width: 100%;
}
.header__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.header__link {
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  color: #45403D;
}
.header__button {
  font-size: 1rem;
  line-height: 20px;
  padding: 1rem;
  width: 169px;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.hamburger-menu {
  display: none;
}

.hamburger-checkbox {
  display: none;
}
.hamburger-checkbox:checked + .hamburger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.hamburger-checkbox:checked + .hamburger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

.hamburger {
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 36px;
  height: 26px;
}
.hamburger::before, .hamburger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #45403D;
}
.hamburger::before {
  top: 0;
  box-shadow: 0 11px 0 #45403D;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.hamburger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 3rem;
}
.nav-links.show-menu {
  position: absolute;
  top: 77px;
  right: 0;
  width: calc(100% + 1.5rem);
  background-color: #FFFFFF;
  padding: 0 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 14px;
}

.top {
  background-color: #F6F5F4;
  position: relative;
}
.top__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  color: #45403D;
}
.top__button {
  font-size: 1rem;
  line-height: 20px;
  padding: 1rem;
  width: 366px;
  margin-top: 1rem;
}
.top__image {
  position: absolute;
  z-index: 0;
  transition: transform 0.3s ease-in;
}
.top__image_table {
  top: 0;
  right: 0;
}
.top__image_coffee {
  transform: scale(0.5);
  top: -250px;
  right: -10px;
}
.top__image_coffee:hover {
  transform: scale(0.5) rotate(-10deg);
}
.top__image_grains {
  top: 59px;
  right: 120px;
}
.top__image_cookie {
  top: 368px;
  right: 386px;
}
.top__image_cookie:hover {
  transform: rotate(-18deg);
}
.top__image_cinnamon {
  top: 201px;
  right: -57px;
}
.top__image_cinnamon:hover {
  transform: rotate(-13deg);
}

.top-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  /*position: absolute;
  top: 0;
  left: 0;
  z-index: 1;*/
  padding-top: 118px;
  padding-bottom: 208px;
}

.top-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7px;
}

.about {
  background-color: #F6F5F4;
  scroll-margin-top: 120px;
}
.about__item {
  background-color: #FFFFFF;
  border-radius: 24px 24px 24px 0;
  display: flex;
  width: 584px;
  height: 292px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1411764706);
}
.about__item:hover .about__img {
  width: 130%;
  height: 130%;
}
.about__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  overflow: hidden;
  border-top-left-radius: 24px;
}
.about__img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.about__subtitle {
  margin-bottom: 7px;
}
.about__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7px;
  width: 50%;
  padding: 20px;
}
.about__text {
  font-size: 0.875rem;
  width: 100%;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.menu {
  background-color: #F6F5F4;
  scroll-margin-top: 120px;
  position: relative;
}
.menu__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu__fieldset {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 0;
  border: none;
}
.menu__toggle-button {
  display: none;
}
.menu__toggle-button:checked + .menu__button {
  pointer-events: none;
  background-color: #A26539;
  color: #FFFFFF;
}
.menu__button {
  font-size: 0.875rem;
  line-height: 17px;
  padding: 0.875rem;
  width: 120px;
}

.product-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  pointer-events: none;
}
.product-box_visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.product-box_hidden {
  position: absolute;
  top: calc(59px + 4rem + 3rem);
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.product {
  display: flex;
  flex-direction: column;
  background-color: #DEDEDE;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1411764706);
  width: 276px;
}
.product__img {
  z-index: 0;
  width: 100%;
  overflow: hidden;
  display: block;
  transition: transform 0.5s ease;
}
.product__price::after {
  content: "₽";
}
.product__description {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17px;
  color: #45403D;
}
.product__weight {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17px;
  color: #9A9A9A;
}
.product__weight_ml::after {
  content: " мл";
}
.product__weight_gr::after {
  content: " гр";
}
.product:hover .product__img {
  transform: scale(1.1);
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 20px;
  z-index: 1;
  overflow: hidden;
  background-color: #FFFFFF;
}

.reviews {
  background-color: #F6F5F4;
  scroll-margin-top: 120px;
}

.reviews-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1411764706);
  width: 379px;
  padding: 20px;
}
.review__header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 7px;
  column-gap: 20px;
  height: 63px;
  width: 100%;
}
.review__img {
  display: block;
  height: 100%;
  width: 63px;
}

.find-us {
  background-color: #F6F5F4;
  scroll-margin-top: 120px;
  padding-bottom: 4rem;
}

.map {
  position: relative;
  min-height: 319px;
  flex-basis: 379px;
  flex-grow: 1;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1411764706);
}
.map__link {
  color: #eee;
  font-size: 0.75rem;
  position: absolute;
  top: 0;
}
.map__link_block {
  top: 14px;
}
.map__frame {
  position: relative;
  flex-grow: 1;
  flex-basis: 379px;
  width: 100%;
  height: 100%;
  border: none;
}

.find-us-content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.contacts {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  width: 379px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1411764706);
}
.contacts__title {
  margin-bottom: 10px;
}
.contacts__link:hover {
  color: #A26539;
}

.contacts-link-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contacts-link-wrapper:hover .contacts__img path {
  fill: #A26539;
}

.booking {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 379px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1411764706);
}
.booking__input {
  color: #45403D;
  border: 1px solid #DEDEDE;
  border-radius: 24px;
  text-decoration: none;
  outline: none;
  padding: 0.875rem 1.5rem 1rem 1.5rem;
}
.booking__input::placeholder {
  color: #9A9A9A;
}
.booking__button {
  font-size: 0.875rem;
  line-height: 17px;
  padding: 0.875rem 1.5rem 1rem 1.5rem;
}

.booking-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer {
  background-color: #FFFFFF;
  align-content: center;
  padding-top: 43px;
  padding-bottom: 43px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
.footer__rights {
  color: #9A9A9A;
}
.footer__nav {
  display: flex;
  gap: 1.5rem;
}
.footer__link {
  font-weight: 600;
}
.footer__icons {
  display: flex;
  gap: 0.875rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-end;
  justify-content: flex-end;
}

@media (max-width: 1280px) {
  .center {
    padding-left: calc(50% - 430px);
    padding-right: calc(50% - 430px);
  }
  .title {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  .header__nav {
    gap: 1.5rem;
  }
  .top {
    height: calc(443px + 5rem + 5rem);
    background-image: url("../img/group-table.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top 8rem right;
  }
  .top__image {
    display: none;
  }
  .top-content {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .about-content {
    background-color: transparent;
    padding: 10px 0;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    gap: 1rem;
    max-width: 100%;
    margin: -10px auto 0 auto;
    overflow-y: visible;
    overflow-x: auto;
    overscroll-behavior-x: none;
    scroll-snap-type: x mandatory;
  }
  .about__item {
    flex: 0 0 584px;
    scroll-snap-align: start;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1411764706);
  }
  .product-box {
    gap: 1rem;
  }
  .reviews-content {
    background-color: transparent;
    padding: 20px 0;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1rem;
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
    overscroll-behavior-x: none;
    scroll-snap-type: x mandatory;
    margin-top: -20px;
  }
  .review {
    flex: 0 0 379px;
    scroll-snap-align: start;
  }
  .find-us-content {
    gap: 1rem;
  }
}
@media (max-width: 909px) {
  .center {
    padding-left: calc(50% - 300px);
    padding-right: calc(50% - 300px);
  }
  .header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .header__button {
    font-size: 1rem;
    line-height: 20px;
    padding: 8px 1rem;
    margin-left: auto;
  }
  .top {
    background-image: url("../img/top-coffee.png");
    background-size: 70%;
    background-position: top right -50%;
  }
  .top-content {
    padding-bottom: 2rem;
  }
  .product-box {
    justify-content: space-between;
  }
}
@media (max-width: 647px) {
  .center {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (max-width: 632px) {
  .h1 {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 700;
    line-height: 38px;
    color: #45403D;
  }
  .h2 {
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #45403D;
  }
  .text {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #45403D;
  }
  .header__nav {
    /*            display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;*/
    gap: 20px;
  }
  .header__button {
    border: 0;
    color: #45403D;
    padding: 0;
    width: auto;
  }
  .hamburger-menu {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .top__button {
    width: 100%;
  }
  .about__item {
    flex-direction: column;
    flex: 0 0 calc(100vw - 35%);
    height: 100%;
  }
  .about__item:hover .about__img {
    width: 100%;
    height: 100%;
  }
  .about__img-wrapper {
    width: 100%;
    height: 50%;
  }
  .about__text-wrapper {
    width: 100%;
    height: 50%;
    margin-bottom: auto;
  }
  .menu {
    scroll-margin-top: 120px;
  }
  .menu__button {
    font-size: 0.875rem;
    line-height: 17px;
    padding: 10px 20px;
    width: auto;
  }
  .menu__fieldset {
    width: 100%;
    justify-content: space-between;
  }
  .product {
    width: 100%;
  }
  .review {
    flex: 0 0 calc(100vw - 48px);
  }
  .find-us-content {
    flex-direction: column-reverse;
    align-content: stretch;
  }
  .contacts {
    width: 100%;
  }
  .booking {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
