@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;

    scroll-behavior: smooth;
}

body {
    font-family: $font-fam;
}

a {
    text-decoration-line: none;
}

.h1 {
    font-family: inherit;
    font-size: 3rem; // 48px
    font-weight: $fw-bold;
    line-height: 59px;
    //vertical-align: middle;

    color: $color-title;
}

.h2 {
    font-family: inherit;
    font-size: 1.5rem; // 24px
    font-weight: $fw-semi-bold;
    line-height: 29px;
    //vertical-align: middle;

    color: $color-title;
}

.text {
    font-family: inherit;
    font-size: 14px;
    font-weight: $fw-regular;
    line-height: 17px;

    color: $color-title;
}

.button {
    font-family: inherit;
    font-weight: $fw-semi-bold;
    color: $color-border;

    text-align: center;

    border: 1px solid $color-border;
    border-radius: $border-radius;

    background-color: transparent;

    cursor: pointer;

    &:hover {
        background-color: $color-border;
        color: $color-text-background;
    }
}

.paragraph {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
}

.title {
    padding-top: 8rem;
    padding-bottom: 3rem;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    background-color: $color-text-background;
    align-content: center;

    position: sticky;
    top: 0;
    z-index: 2;

    padding-top: 33px;
    padding-bottom: 35px;

    height: 120px;
    width: 100vw;

    &__nav {
        display: flex;
        align-items: center;
        gap: 48px;
    }

    &__link {
        font-weight: $fw-semi-bold;
        font-size: 1rem;
        line-height: 20px;
        color: $color-title;
    }

    &__button {
        font-size: 1rem;
        line-height: 20px;
        padding: 1rem;

        width: 169px;
    }
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-info {
    display: flex;
    gap: 48px;
    align-items: center;
}

.top {
    background-color: $color-background;
    position: relative;

    height: 770px - 64px;

    &__text {
        font-size: 1rem;
        font-weight: $fw-regular;
        line-height: 20px;
        color: $color-title;
    }

    &__button {
        font-size: 1rem;
        line-height: 20px;
        padding: 1rem;

        width: 366px;

        margin-top: 1rem;
    }

    &__image {
        position: absolute;
        z-index: 0;

        &_table {
            top: 0;
            right: 0;
        }

        &_coffee {
            top: 0;
            right: 246px;

            &:hover {
                transform: rotate(-10deg);
            }
        }

        &_grains {
            top: 59px;
            right: 120px;
        }

        &_cookie {
            top: 368px;
            right: 386px;

            &:hover {
                transform: rotate(-18deg);
            }
        }

        &_cinnamon {
            top: 201px;
            right: -57px;

            &:hover {
                transform: rotate(-13deg);
            }
        }
    }
}

.top-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;

    //width: 586px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    padding-top: 118px;
    padding-bottom: 208px - 64px;
}

.about {
    background-color: $color-background;

    &__item {
        background-color: $color-text-background;

        border-radius: $border-radius $border-radius $border-radius 0;

        display: flex;

        width: 584px;
        height: 292px;

        box-shadow: 0px 4px 20px 0px #00000024;

        &:hover .about__img {
            width: 130%;
            height: 130%;
        }
    }

    &__img-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: 50%;
        overflow: hidden;

        border-top-left-radius: $border-radius;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__subtitle {
        margin-bottom: 7px;
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 7px;

        width: 50%;
        padding: 20px;
    }

    &__text {
        font-size: 14px;

        width: 100%;
    }
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.menu {
    background-color: $color-background;

    &__togglebutton {
        display: none;

        &:checked+.menu__button {
            background-color: $color-border;
            color: $color-text-background;
        }
    }

    &__button {
        font-size: 0.875rem; // 14px
        line-height: 17px;
        padding: 0.875rem;

        width: 120px;
    }
}

.menu-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-category {
    display: flex;
    align-items: center;
    gap: 7px;

    padding: 0;
    border: none;
}

.product-box {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.product {
    display: flex;
    flex-direction: column;

    background-color: $color-input;
    border-radius: $border-radius;

    overflow: hidden;
    box-shadow: 0px 4px 20px 0px #00000024;

    width: 276px;

    &__img {
        z-index: 0;
        width: 100%;
        overflow: hidden;
        display: block;
    }

    &__price::after {
        content: '₽';
    }

    &__description {
        font-size: 14px;
        font-weight: $fw-regular;
        line-height: 17px;
        color: $color-title;
    }

    &__weight {
        font-size: 14px;
        font-weight: $fw-regular;
        line-height: 17px;

        color: $color-text;

        &_ml::after {
            content: ' мл';
        }

        &_gr::after {
            content: ' гр';
        }
    }

    &:hover .product__img {
        transform: scale(1.1);
    }
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px;

    z-index: 1;

    overflow: hidden;

    background-color: $color-text-background;
}

.reviews {
    background-color: $color-background;
}

.reviews-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2rem;

    //max-height: 448px;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: $color-text-background;
    border-radius: $border-radius;

    box-shadow: 0px 4px 20px 0px #00000024;

    width: 379px;
    padding: 20px;

    &__img {
        display: block;
        height: 100%;
        width: 63px;
    }

    &__client-name {
        //flex-grow: 1;
    }
}

.review-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 7px;
    column-gap: 20px;

    height: 63px;
    width: 100%;
}

// .rating {

// }

.find-us {
    background-color: $color-background;
    padding-bottom: 4rem;

    &__map {
        position: relative;
        min-width: 379px;
        min-height: 379px;

        flex-basis: 379px;
        flex-grow: 1;

        border-radius: $border-radius;
        overflow: hidden;

        box-shadow: 0px 4px 20px 0px #00000024;
    }
}

.contacts-box {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;

    gap: 2rem;

    height: 520px;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.contacts {
    background-color: $color-text-background;
    padding: 20px;
    border-radius: $border-radius;

    display: flex;
    flex-direction: column;
    gap: 14px;

    width: 379px;

    box-shadow: 0px 4px 20px 0px #00000024;

    &__title {
        margin-bottom: 10px;
    }

    &__link:hover {
        color: $color-border;
    }
}

.contacts-item {
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover .contacts__img path {
        fill: $color-border;
    }
}

.booking {
    background-color: $color-text-background;
    padding: 20px;
    border-radius: $border-radius;

    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 379px;

    box-shadow: 0px 4px 20px 0px #00000024;

    &__input {
        color: $color-title;
        border: 1px solid $color-input;
        border-radius: $border-radius;
        text-decoration: none;
        outline: none;

        padding: 14px 24px 16px 24px;

        &::placeholder {
            color: $color-text;
        }
    }

    &__button {
        font-size: 14px;
        line-height: 17px;

        padding: 14px 24px 16px 24px;
    }
}

.booking-info {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer {
    background-color: $color-text-background;
    align-content: center;

    padding-top: 43px;
    padding-bottom: 43px;

    &__rights {
        color: $color-text;
    }

    &__nav {
        display: flex;
        gap: 24px;
    }

    &__link {
        font-weight: $fw-semi-bold;
    }

    &__icons {
        display: flex;
        gap: 14px;
    }
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: flex-end;
    justify-content: flex-end;
}